@font-face {
    font-family: 'MyFont';
    src: url('../font/my-font.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    background: url('../img/browse_fill.png');
    font-family: 'MyFont';
}